<section class="weather">
    <loader v-if="loader"></loader>
    <div v-if="!loader && weather">
        <icon v-bind:type="weather.currently.icon"></icon>
        <h2>{{ weather.currently.summary }}</h2>
        <h4>{{ city }}</h4>
    </div>
    <hr>
    <div class="row">
        <form class="col-md-4 col-md-push-4" @submit.prevent>
            <alert type="alert-danger" v-bind:msg="error.msg" v-show="error.show"></alert>
            <div class="form-group">
                <input type="text"
                       placeholder="Enter your address"
                       class="form-control"
                       v-model="city" lazy
                       @keydown="this.error.show = false"
                       @keyup.enter="update">
            </div>
        </form>
    </div>
</section>